* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* max-width: 1440px; */
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../fonts/rubik-v21-latin_cyrillic-300.woff2") format("woff2"),
    url("../fonts/rubik-v21-latin_cyrillic-300.woff") format("woff");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/rubik-v21-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/rubik-v21-latin_cyrillic-500.woff") format("woff");
}

@font-face {
  font-family: "c";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/rubik-v21-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/rubik-v21-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/rubik-v21-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/rubik-v21-latin_cyrillic-700.woff") format("woff");
}
body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
}
header {
  height: 332px;
  /* align-items: center; */
  background-color: #f6f6f9;
  justify-content: center;
}
.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  /* padding-right: 120px;
  padding-left: 120px; */
}
.begin {
  width: 1200px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 40px;
}
.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  color: #295091;
  width: 320px;
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
  border-radius: 5px;
}
.logo img {
  display: flex;
  margin: auto;
  padding: 10px;
}
.begin_left {
  width: 258px;
  height: 21px;
  display: flex;
  list-style: none;
  justify-content: space-between;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  color: #285193;
}
.button {
  width: 24px;
  height: 24px;
  margin-right: 24px;
}

.begin_right {
  display: flex;
  list-style: none;
}
.rus {
  margin-right: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #535353;
}
.rus img {
  width: 20px;
  border-radius: 50%;
}
.telegram {
  display: flex;
  width: 146px;
  height: 40px;
  background: linear-gradient(90deg, #1e96c8 15.07%, #37aee2 85.96%);
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  list-style: none;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.telegram img {
  width: 20px;
  height: 20px;
}
.nav {
  width: 1200px;
  height: 68px;
  margin: auto;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
  margin-bottom: 18px;
}

.nav_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_item {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #515151;
  list-style: none;
  /* padding: 5px 15px ; */
}
.nav_item a {
  text-decoration: none;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #515151;
}
.banner {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.info_covid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  height: 133px;
  background: #f6f6f9;
  border-radius: 5px;
  margin: auto;
  margin-top: 22px;
  margin-bottom: 20px;
}
.covid {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 25%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}
.covid img {
  width: 43px;
  height: 45px;
}
.virus {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-right: 25px;
}
.covid_1 {
  height: 74px;
  display: flex;
  border-left: 3px solid #eb5569;
  justify-content: center;
  align-items: center;
}
.news {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news_2 {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 30px;
}
.news_page {
  width: 386px;
  height: 243px;
}
.news_title {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #202020;
  width: 380px;
  height: 42px;
}
.time {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6b6d97;
}
.bell {
  width: 1200px;
  height: 91px;
  background: rgba(239, 186, 84, 0.18);
  border-radius: 5px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bell_2 {
  width: 264px;
  height: 42px;
  background: linear-gradient(
    90deg,
    #fe5c28 0%,
    rgba(255, 139, 54, 0.9) 88.43%
  );
  border-radius: 5px;
}
.bell_2_title {
  width: 241px;
  height: 26px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bell_1 {
  display: flex;
  align-items: center;
}
.bell_photo {
  margin-right: 17px;
}
